nav ul{
    justify-content: flex-end;
}

nav li{
    margin: 20px;
}

header{
    height: 600px;
}

.header-img--container{
    display: flex;
    height: 100vh;
}

.main-content--container .brand{
    font-size: 3rem;
}

.parrafosPrincipales{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    width: 80%;
}

.parrafosPrincipales p{
    max-width: 500px;
}

.main-content-img--container{
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    width: 60vw;
}

.main-content-img--container img{
    width: 70%; 
    height: auto;
    border-radius: 10px;
} 

.images-container--img img{
    height: 35vh;
}